html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #E5E5E5;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #EDEF7C;
  padding: 0 20px 20px 20px;
  border: 5px solid #BFBAB0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #8C4A32;
  text-shadow: 3px 3px 1px #BFBAB0;
  font-size: 64px;
  text-align: center;
}

p,
li {
  font-family: 'Cardo', serif;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

